@font-face {
    font-family: fontePrincipal;
    src: url(../fonts/Alata-Regular.ttf);
}

@font-face {
    font-family: fonteInicio;
    src: url(../fonts/Junge-Regular.ttf);
}

@font-face {
    font-family: fonteTitulos;
    src: url(../fonts/inter-4.ttf);
}

@font-face {
    font-family: fonteRodape;
    src: url(../fonts/JuliusSansOne-Regular.ttf);
}

@font-face {
    font-family: fonteTitulos2;
    src: url(../fonts/AnekGurmukhi-ExtraBold.ttf);
}

@font-face {
    font-family: fonteTextos;
    src: url(../fonts/anek-gurmukhi-expanded-regular.ttf);
}

@font-face {
    font-family: fonteEmails;
    src: url(../fonts/anek-gurmukhi-expanded-extralight.ttf);
}





* {
    margin: 0;
    padding: 0;
}

body {
    background-repeat: no-repeat;
    background-color: black;
    background-size: cover;
}

.logo {
text-align: left;
position: absolute;
top: 30%;
left: 10%;
max-width: 100%;
max-height: 100%;
}

.fundo{
    width: 100%;
}

a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

.logo {
    font-size: 24px;
    letter-spacing: 4px;
}

nav {
    justify-content: start;
    display: flex;
    align-items: center;
    font-family: fontePrincipal;
    background: black;
    height: 15vh;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
}

.simbolo img {
    width: 40px;
    margin-right: 10px;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 42px;
}

.dropdown-menu {
    text-align: center;
    background-color: #222222;
}

.lista-paginas {
    color: #fff;
    margin-left: -38px;
}

section {
    margin-left: 6%;
    margin-right: 5%;
    margin-top: 2%;
    margin-block-end: 5%;
    color: #fff;
}

.titulo h1{
    color: #fff;
    font-family: fonteTitulos;
    font-size: 30px;
    text-align: center;
}

.viajantes {
    display: flex;
}

.titulo-viajantes {
    color: #fff;
    font-family: fontePrincipal;
    font-size: 26px;
    text-align: start;
    margin-top: 3%;

}

.texto-viajantes {
    font-size: 20px;
    margin-top: 1%;
    text-align: justify;
    font-family: fontePrincipal;
}

.info-viajantes {
    font-size: 20px;
    text-align: center;
    margin-top: -2%;
    font-family: fonteTextos;
}

.imagem-direita {
    margin-top: 7%;
    text-align: end;
    margin-left: 7%;
}

.imagem-direita p {
    text-align: center;
    font-family: fonteRodape;
    margin-top: 3%;
    font-size: 15px;
}

.imagem-esquerda {
    margin-top: 7%;
    text-align: start;
    margin-right: 7%;
}

.imagem-esquerda p {
    text-align: center;
    font-family: fonteRodape;
    margin-top: 3%;
}


.main{
    max-width: 900px;
    margin: 0 auto;
}

div.newPost{
    width: 100%;
    height: 240px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 25px;
}

div.newPost div.infoUser{
    display: flex;
    align-items: center;
    justify-content: center;
}

div.newPost div.infoUser div.imgUser{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #fff;
}

div.newPost div.infoUser strong{
    font-size: 16px;
    margin-left: 10px;
    color: #FFCB14;
}

div.newPost form.formPost{
    display: flex;
    flex-direction: column;
    width: 100%;
}

div.newPost form.formPost textarea{
    background: #202020;
    margin: 15px 0px;
    padding: 25px;
    border-radius: 10px;
    resize: none;
    outline: none;
    border: 0;

    font-weight: bold;
    font-family: fonteTextos;
    color: #7A7A7A;

}

div.newPost form.formPost div.iconsAndButton{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.newPost form.formPost div.iconsAndButton div.icons{
    outline: none;
    margin-right: 15px;
    border: 0;
    display: flex;
    flex-direction: row;
    width: 10%;
}

div.newPost form.formPost div.iconsAndButton div.icons .btnFileForm{
    width: 100%;
    background: transparent;
    border-style: none;
    margin-left: 10px;
    margin-right: 15px;

}









footer {
    color: #fff;
    text-align: center;
}

.redes {
    font-family: fonteRodape;
}

.politica {
    color: #838383;
    font-family: fonteInicio;
    text-decoration: underline;
}