@font-face {
    font-family: fontePrincipal;
    src: url(../fonts/Alata-Regular.ttf);
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: fontePrincipal;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(../img/Login\ -\ Cadastro/background-login3.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.registro {
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(25px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}

.registro h1 {
    font-size: 36px;
    text-align: center;
}

.voltar {
    margin-top: 12px;
    margin-right: 5px;
    filter: contrast(100%);
    transition: filter 0.4s;
}

.voltar:hover {
    filter: contrast(0%);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.registro .informacoes-cadastro {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.informacoes-cadastro input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.informacoes-cadastro input::placeholder {
    color: #fff;
}

.informacoes-cadastro i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.registro .caixa-termos {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.caixa-termos label input {
    accent-color: #fff;
    margin-right: 3px;
}

.caixa-termos a {
    color: #7fffd4;
    text-decoration: none;
}

.caixa-termos a:hover {
    text-decoration: underline;
}

.registro .btn {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #000000;
    font-weight: 600;
}

.registro .link-login {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.link-login p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.link-login p a:hover {
    text-decoration: underline;
}