@font-face {
    font-family: fontePrincipal;
    src: url(../fonts/Alata-Regular.ttf);
}

@font-face {
    font-family: fonteInicio;
    src: url(../fonts/Junge-Regular.ttf);
}

@font-face {
    font-family: fonteTitulos;
    src: url(../fonts/inter-4.ttf);
}

@font-face {
    font-family: fonteRodape;
    src: url(../fonts/JuliusSansOne-Regular.ttf);
}

@font-face {
    font-family: fonteTitulos2;
    src: url(../fonts/AnekGurmukhi-ExtraBold.ttf);
}

@font-face {
    font-family: fonteTextos;
    src: url(../fonts/anek-gurmukhi-expanded-regular.ttf);
}

@font-face {
    font-family: fonteEmails;
    src: url(../fonts/anek-gurmukhi-expanded-extralight.ttf);
}





* {
    margin: 0;
    padding: 0;
}

body {
    background-repeat: no-repeat;
    background-color: black;
    background-size: cover;
}

.logo {
text-align: left;
position: absolute;
top: 30%;
left: 10%;
max-width: 100%;
max-height: 100%;
}

.fundo{
    width: 100%;
}

a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

.logo {
    font-size: 24px;
    letter-spacing: 4px;
}

nav {
    justify-content: start;
    display: flex;
    align-items: center;
    font-family: fontePrincipal;
    background: black;
    height: 15vh;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
}

.simbolo img {
    width: 40px;
    margin-right: 10px;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 42px;
}

.dropdown-menu {
    text-align: center;
    background-color: #222222;
}

.lista-paginas {
    color: #fff;
    margin-left: -38px;
}

section {
    margin-left: 6%;
    margin-right: 5%;
    margin-top: 5%;
    margin-block-end: 5%;
    color: #fff;
}

.titulo h1 {
    font-family: fonteTitulos;
}

.texto {
    font-family: fonteTitulos2;
}

.email-contato {
    font-family:fonteEmails;
    margin-top: -1%;
}

.email {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.email input {
    width: 40%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.email input::placeholder {
    color: #fff;
}

.email i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    width: 62%;
}

.btn {
    width: 10%;
    height: 45px;
    background: #5f5e5e;
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #000000;
    font-weight: 600;
}

.divisao {
    color: #fff;
    width: 100%;
}

.texto2 {
    font-family:fonteTextos;
    margin-top: 2%;
}

.maps {
    border-radius: 40px;
    width: 100%;
}

footer {
    color: #fff;
    text-align: center;
}

.redes {
    font-family: fonteRodape;
}

.politica {
    color: #838383;
    font-family: fonteInicio;
    text-decoration: underline;
}